a {
	text-decoration: none;
}
.div_titlebold{
	margin-top:10px;
	margin-bottom:10px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.div_sendUser{
	float:right;
	margin-right: 20px;
	color: #666666
}
.color_blue{
	color: blue;
}


.btn_addPic {
	display: inline-block;
	position: relative;
	height: 39px;
	overflow: hidden;
	padding: 0 30px;
	border: 1px solid #EBEBEB;
	background: none repeat scroll 0 0 #F3F3F3;
	color: #999999;
	font: 14px/39px 'MicroSoft Yahei', 'Simhei';
	cursor: pointer;
	text-align: center;
}

.btn_addPic em {
	background: url(../images/add.gif) 0 0;
	display: inline-block;
	width: 18px;
	height: 18px;
	overflow: hidden;
	margin: 10px 5px 10px 0;
	line-height: 20em;
	vertical-align: middle;
}

.btn_addPic:hover em {
	background-position: -19px 0;
}

.filePrew {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 140px;
	height: 39px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity :   0);
}
/* zTree拓展样式 */

/*展开 合并 箭头作为图标*/
.ztree li span.button.mypoint_ico_open{
	margin-right:2px; 
	background: url(../js/zTree/zTreeStyle/img/diy/blue_expanded.png) no-repeat scroll 0 0 transparent; 
	vertical-align:top; 
	*vertical-align:middle
}
.ztree li span.button.mypoint_ico_close{
	margin-right:2px; 
	background: url(../js/zTree/zTreeStyle/img/diy/blue_right.png) no-repeat scroll 0 0 transparent; 
	vertical-align:top; 
	*vertical-align:middle
}

div.editor{
	border: none;
}


